.margin-top{
    margin-top:100px ;
}
.right{
    float: right;
}
.left{
    float: left;
}
.align-right{
    margin-left: 900px;
}
a {
    color:rgb(82, 180, 212)
 } 
i{
    cursor: pointer;
    color:rgb(82, 180, 212)

 }
 .black{
     color: black;
 }
 
  .delete{
    color: red;
  }
  .activate{
      color: green;
  }
  .shadow{
      box-shadow: 5px 10px 18px grey;
  }
  tr:hover {
    background-color: lightblue;
  }
  .color{
    color:rgb(82, 180, 212)
}
.hover:hover{
    background-color: lightblue;
}
