label{
    display:inline-block;
    width:200px;
    margin-right:30px;
    text-align:right;
    }
    
    input{
    
    }
    
    fieldset{
    border:none;
    width:500px;
    margin:0px auto;
    }
    .align{
        margin-top: 100px;
        margin-left: 800px;
    }